<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <title>Fake News Detector Admin</title>
</header>

<body>
    <script src="/admin.js"></script>
    <script>
        Elm.Main.fullscreen();
    </script>
</body>

</html>