pandas
scikit-learn>=0.19
imblearn
tornado
jupyter
flake8
marisa-trie
lime
nltk
python-telegram-bot
psutil
requests
chatterbot==1.0.5
chatterbot_corpus
PyYAML==5.4
python-Levenshtein
langdetect
python-dateutil==2.7
unidecode
Cython
whatthelang